/* GTK NAMED COLORS
   ----------------
   use responsibly! */
/* widget text/foreground color */

@define-color window_bg_color #2e3440cc;
@define-color accent_bg_color #54546d;
@define-color window_fg_color #3b4252;
@define-color text_selected_color #2e3440;
@define-color window_selected_color #8fbcbb;
@define-color theme_fg_color #d8dee9;
@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;

* {
  all: unset;
}

popover {
  border-radius: 6px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 20px;
}

.large-icons {
  -gtk-icon-size: 20px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @window_bg_color;
  border-radius: 6px;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
  background: @window_fg_color;
  font-weight: bold;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
}

.input {
  caret-color: @theme_fg_color;
  padding: 10px;
  color: @theme_fg_color;
  font-size: 20px;
}

.input:focus,
.input:active {
}

.content-container {
  padding: 0px 20px;
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 6px;
  padding: 5px;
  font-weight: bold; 
  font-size: 16px;
}

.item-quick-activation {
  border-radius: 6px;
  padding: 5px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: @window_selected_color;
  color: @text_selected_color;
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  padding: 10px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 20px;
}

.keybinds {
  font-size: 0px;
  color: @theme_fg_color;
  display: none;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 6px;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs, .preview-content.dnfpackages {
  font-family: monospace;
}
